@import "tailwindcss";

body{
    background-color: #222;
    color: wheat;
    font-size: xx-large;
}

button{
    padding: 0px 6px;
    border: 1px yellow solid;
    background-color: rgb(89, 146, 70);
    color: yellow;
    border-radius: 10px;
}


button:hover{
    cursor: pointer;
}

button:active{
    transform: scale(0.9);
}

.sections{
    background-color: #444;
    padding: 10px 15px;
    text-align: center;
}

.sections h2{
    border-bottom: 2px dashed;
}